body{
    margin: 0;
}
main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.carousel-cont{
    background:url("../images/home-phones.png") no-repeat -45px;
    height: 680px;
    width: 400px;
    margin: 0 30px 0 0;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-left: 112px;
    margin-top: 48px;
}
.carousel img {
    display: none;
    height: auto;
}

.carousel img.active {
    display: block;
}
.form-cont{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
form {
    /*background-color: #ffffff;*/
    padding: 20px;
    width: 300px;
    border: 1px solid rgb(219 219 219);
    border-radius: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 0 5px 0;
}
.reg-cont{
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid rgb(219 219 219);
    border-radius: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 5px 0;
}
.reg-cont a{
    color:#007bff;
    text-decoration: none;
    font-size: 20px;
}
.reg-cont a:hover{
    color:rgb(51, 32, 171);
    text-decoration: none;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 14px;
}

.gender-group {
    display: flex;
    margin-bottom: 15px;
}
.gender-option p{
    margin: 0 5px 5px 0;
    font-weight: bold;
}
input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
input[type='file']{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 14px;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.error{
    color: red;
    margin: 5px 0 5px 0 ;
}
